{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        },
        "lib": ["es2018", "DOM"],
        "project": "./tsconfig.json"
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:jest-dom/recommended"
    ],
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": ["off"]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
