@import "../../Styles/colors";

.terminal-container {
    display: flex;
    justify-content: center;
}

.transaction-terminal {
    background-color: $terminal-black;
    border: 8px solid rgba($grey, 0.3);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: flex-end;
    max-height: 400px;
    max-width: 350px;
    padding: 15px;
    width: 90vw;

    h2 {
        font-family: "Digital 7";
    }

    h2:last-of-type::after {
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-name: cursorBlink;
        background-color: $primary;
        content: "";
        display: inline-block;
        height: 20px;
        margin-left: 5px;
        right: -15px;
        top: 0;
        vertical-align: top;
        width: 10px;
    }
}

.terminal-prompt {
    color: rgba($primary, 0.5);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.enter-button {
    background-color: rgba($grey, 0.8);
    border-radius: 3px;
    color: $black;
    font-family: "Michroma";
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

@keyframes cursorBlink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
