@import "../../Styles/colors";

.transaction-terminal {
    animation: terminalOpen 0.7s ease-in forwards;
    background-color: $terminal-black;
    border: 8px solid rgba($grey, 0.3);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    left: 5vw;
    padding: 15px;
    position: fixed;
    top: 25vh;
    z-index: 1000;

    h2 {
        font-family: "Digital 7";
    }
}

.button-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.enter-button {
    background-color: rgba($grey, 0.8);
    border-radius: 3px;
    color: $black;
    font-family: "Michroma";
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

.terminal-close {
    animation: terminalClose 0.4s ease-out forwards;
}

@keyframes terminalOpen {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes terminalClose {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@media (min-width: 768px) {
    .transaction-terminal {
        left: 27.5vw;
        top: 20vh;
    }
}

@media (min-width: 1200px) {
    .transaction-terminal {
        left: 33.5vw;
    }
}
