// Color palette ---------------------------------------------------------------

$primary: #4cad54;
$secondary: rgba($primary, 0.5);
$white: #d1d1d5;
$blue: #65c7c7;
$grey: #8c8e96;
$black: #0b0c12;
$dark: #341149;
$danger: #a83f5d;
$terminal-black: #282828;
