// Typography ------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Baumans|Jura:700|Michroma|Space+Mono");

@font-face {
    font-family: "Marvin Visions";
    src: url("../Fonts/MarvinVisions-Bold.eot") format("eot");
    src: url("../Fonts/MarvinVisions-Bold.woff2") format("woff2");
    src: url("../Fonts/MarvinVisions-Bold.woff") format("woff");
}

@font-face {
    font-family: "Digital 7";
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/digital-7.woff2") format("woff2"),
        url("../Fonts/digital-7.woff") format("woff");
}
