@import "../Styles/colors";
@import "../Styles/type";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;

    body {
        margin: 0;
        min-height: 100%;
        overflow: hidden;
        padding: 0;
    }
}

#root {
    background-color: $black;
    color: $primary;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
    font-family: "Marvin Visions";
}

p {
    font-family: "Michroma", sans-serif;
}
