@import "../../Styles/colors";

.cuts-menu {
    align-items: center;
    bottom: 75px;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow: scroll;
    position: absolute;
    top: 110px;
    width: 100%;
}

%scroll-indicator {
    align-items: center;
    background-color: $black;
    color: $primary;
    display: none;
    font-size: 20px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.top-indicator {
    @extend %scroll-indicator;
    box-shadow: 0 3px 5px 2px rgba($black, 0.6);
    z-index: 100;
}

.bottom-indicator {
    @extend %scroll-indicator;
    bottom: 70px;
    box-shadow: 0 -3px 5px 2px rgba($black, 0.6);
}

.is-visible {
    display: flex;
}

.cut-entry {
    border-bottom: 1px solid $secondary;
    display: flex;
    padding: 10px 0;
    width: 80%;

    h3,
    h4 {
        color: $primary;
        flex: 1;
        font-family: "Michroma";
    }
}

.cut-name {
    text-align: left;
    text-transform: capitalize;
}

.cut-info {
    color: $secondary;
}

.cut-price,
.cut-quantity {
    text-align: right;
}
